body {
    margin: 0px;
}

#nav-bar {
    height: 45px;
    width: 100%;
    background-color:#3B5998;
    /*
    overflow: hidden;
    position: fixed;
    */
}

#fb-logo {
    float: left;
    margin: 10px;
}

#user-profile {
    float: right;
    margin: 10px;
}

#user-profile a {
    text-decoration: none;
    padding:6px;
    display: inline;
}

#user-profile a:hover {
    background-color: #355285;
    border-radius: 4px;
}

#user-profile img {
    vertical-align:middle;
}

#user-profile span {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
    display: inline;
}

#home {
    border-left: thin solid #355285;
}

#logout {
    border-left: thin solid #355285;
}

#newsfeed {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #e9ebee;
}

#create-a-post {
    padding-top: 10px;
    display: table;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 600px;
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif;
}

#post-header {
    width: 580px;
    height: 14px;
    background-color: #f6f7f9;
    color: #685955;
    padding: 10px;
    font-size:14px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

#post-body {
    width: 590px;
    height: auto;
    background-color: #ffffff;
    padding: 5px;
}
#post-body img {
    vertical-align:middle;
}

#post-body input {
    padding-left: 6px;
    font-size:16px;
}

#post-input-box {
    border-radius: 4px;
    border-style: none;
    height: 40px;
    width: 545px;
}

#post-footer {
    width: 600px;
    height: auto;
    background-color: #ffffff;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0 1px #cccccc;
}

#post-footer input {
    height: 20px;
    width: 60px;
    font-size: 13px;
    background-color: #4169ac;
    color: #ffffff;
    border-radius: 4px;
    border-style: none;
    margin: 7px;
    cursor: pointer;
}

#all-posts {
    display: table;
    margin: 0 auto;
    width: 600px;
    height: auto;
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif;
    background-color: #e9ebee;
}

.post {
    width: 590px;
    height: auto;
    background-color: #ffffff;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 4px;
    box-shadow: 0 1px #cccccc;
}

.post img {
    vertical-align:middle;
}

.post span {
    color:#3B5998;
    font-size:16px;
    margin-left: 4px;
}

.post-content {
    font-size:16px;
    margin: 10px 5px;
    color: #1d2128;
}

.like-comment {
    border-top: 1px;
}

.like-btn {
    background-color: #ffffff;
    border-style: none;
    cursor: pointer;
}

.like-btn img{
    vertical-align:middle;
}

.like-btn p {
    display: inline;
    font-size: 14px;
}

.like-btn p:hover {
    text-decoration: underline; 
}

.comment-btn {
    background-color: #ffffff;
    border-style: none;
    cursor: pointer;
}

.comment-btn img{
    vertical-align:middle;
}

.comment-btn p {
    display: inline;
    font-size: 14px;
}

.comment-btn p:hover {
    text-decoration: underline; 
}