<%- include('header2', {href: '/stylesheets/deleteuser.css' });%>   
<div id="confirm">   
    <div id="delete-a-user">
        <div id="delete-header">
            <span>Are you sure you want to delete your account?</npmspan>
        </div>
        <div id="delete-body">
            <input type=submit id="delete-btn" value="DELETE MY ACCOUNT"></input>
        </div>
    </div>
</div>
<%- include('footer2', {script: "../javascripts/deleteuser.js" }); %>