<html>
    <head>
        <title>Delete Account</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/deleteuser.css">
    </head>
    <body>
        <div id="nav-bar">
            <div id="fb-logo">
                <img src="/images/f-letter.png">
            </div>
        </div>
        <div id="confirm">   
            <div id="delete-a-user">
                <div id="delete-header">
                    <span>Are you sure you want to delete your account?</npmspan>
                </div>
                <div id="delete-body">
                    <form method="post" action="yes">
                        <input type=submit id="yes" value="Yes"></input>
                        <input type=submit id="no" value="No"></input>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>