<html>
    <head>
        <title>Reset Password</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/reset-password.css">                
    </head>
    <body>
        <div id="login-nav-bar">
            <a href="/"><img src="/images/fb-logo.png" id="logo"></a>
        </div>

        <div id="reset-password-body">
            <div id="reset-password-body-header">
                <span>Enter your new password</span>
            </div>
            <div id="form-div">
                <form method="post" action="reset-password/confirm">
                    <span id="form-span">New Password</span>
                    <input type="password" id="password" name="password" autocomplete="off" placeholder="e.g., *********" required>
                    
                    <span id="form-span">Confirm Password</span>
                    <input type="password" id="password-confirm" name="passwordConfirm" autocomplete="off" placeholder="e.g., *********" required>
                    
                    <input type="submit" id="submit-btn"  value="Submit"></button>
                </form>
            </div>
        </div>
    </body>
    <script> 
        var id = '<%- id %>';
    </script>   
</html>